@inherits LayoutComponentBase

<!-- Header -->
<header id="header" class="alt">
	<div class="logo"><a href="index.html">SG <span>.NET + Azure Dev</span></a></div>
</header>

@Body

<!-- Footer -->
<footer id="footer">
	<div class="container">
		<ul class="icons">
			<li><a href="https://www.meetup.com/NET-Developers-SG/" class="icon fa-meetup"><span class="label">SG .NET Dev Community Meetup</span></a></li>
			<li><a href="https://www.meetup.com/AzureSG" class="icon fa-meetup"><span class="label">ACS Meetup</span></a></li>
			<li><a href="https://www.youtube.com/dotnetsg" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
			<li><a href="https://www.facebook.com/groups/sg.netdev/" class="icon fa-facebook"><span class="label">SG .NET Dev Community Facebook</span></a></li>
			<li><a href="https://www.facebook.com/groups/azure.community.singapore/" class="icon fa-facebook"><span class="label">ACS Facebook</span></a></li>
		</ul>
	</div>
	<div class="copyright">
		&copy; Singapore .NET Developers Community and Azure Community Singapore. All rights reserved.
	</div>
</footer>