@{
    ViewData["Title"] = "Home Page";
}



<div id="page-header" class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-16">
                <h2><span class="color-type-primary">.NET Developers Community Singapore</span></h2>
                <div class="type-sh2"></div>
                
                <ul class="nav nav-pills" data-scroll="smooth">
                    <li role="presentation">
                        <a href="#about-us">About Us</a>
                    </li>
                    <li role="presentation">
                        <a href="#latest-event">Latest Event</a>
                    </li>
                    <li role="presentation">
                        <a href="#latest-news">Latest News</a>
                    </li>
                    <li role="presentation">
                        <a href="#sponsors">Sponsors</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <section id="about-us" class="section">
        <header class="section-header row">
            <h1 class="section-title col-xs-24">
                <a href="#page-header" class="no-outline">About Us</a>
            </h1>
        </header>
        
        <div class="row">
            <div class="col-xs-24 col-sm-16">
                <p>
                    Welcome to .NET Developers Community Singapore.
                </p>
                <p>
                    Hi there,
                </p>
                <p>
                    The .NET has been open sourced since November 2014. As community, we would like to share our 
                    expertise to others. This group is OPEN FOR ALL developers (Windows, Linux, Mac OS) or for anyone 
                    who wants to know or try .NET. Or if you are a passionate, a .NET enthusiast, or interested in 
                    developing software application using .NET open source ecosystem and its related technologies. 
                    You can meet many of .NET expert, masters, even Microsoft MVP's in this community.
                    
                </p>

                <p>
                    If you happen 
                    to be a C#, VB.NET, WPF, Windows 10/Windows 10 Mobile, ASP.NET, Web API, SignalR, Microsoft 
                    Roslyn C#, Microsoft Azure, server-side, etc. then this community is certainly for you and you s
                    hould join in. Development using .NET is very exciting, easy and it's open source now. 
                </p>

                <p>
                    We welcome to all developers for the new era of .NET related development and for non .NET 
                    developers as well. 
                </p>

                <p>
                    Try .NET.
                </p>

                <p>
                    Your Friendly Organisers,<br />
                    Riza, Chun Lin, Marvin, Priyanka
                </p>
            </div>
            <div class="col-xs-24 col-sm-8">
                <img src="~/images/dotnetsg.jpeg" class="header-image" />
            </div>
            
            

        </div>
    </section>     
    <hr />

    <section id="latest-event" class="section">
        <header class="section-header row">
            <h1 class="section-title col-xs-24">
                <a href="#page-header" class="no-outline">Latest Event</a>
            </h1>
        </header>
        
        <div class="row">
            <div class="col-xs-24 col-sm-16">
                <h3>
                    Midnight Joint Meetup with Bratislava .NET Developers
                </h3>

                <p>
                We are excited to share a great news with you. This year, we are happy to have Jakub Šturc, the community lead of .NET Brastislava Meetup, together with our popular speakers Rasťo Novotný and Marvin Heng to join us to be speakers to talk about interesting happening in .NET ecosystem.
                </p>
                
                <p>
                This will be a meetup hosting on our YouTube channel: https://youtu.be/nwGFZA0h9k8 on 15th May, 11pm SGT midnight. We have to make it to be midnight because there is a timezone difference between Brastislava and Singapore.
                </p>
                
                <p>
                In this meetup, Jakub Šturc will be sharing with us about one of the hot news recently, i.e. the C# Source Generators. Then, Rasťo Novotný will be talking about SignalR, a library for ASP.NET which allows server code to send asynchronous notifications to client-side.
                </p>
                    
                <p>
                Our third speaker Marvin Heng will give a topic "Intelligent Assistant with Microsoft Bot Framework". His sharing session is about developing a bot that allows the users to place their inquiry and get display to our app live. With combination of various technologies, we will be able to demonstrate how processes can be simplified.
                </p>
                
                <p>
                    Join us on this live stream to learn together.
                </p>
                
                <p>
                    This will be an online live stream tech sharing. So, simply go to the YouTube page of the event (<a href="https://youtu.be/nwGFZA0h9k8" target="_blank">https://youtu.be/nwGFZA0h9k8</a>) on the day itself from anywhere that you can enjoy excellent Internet connection.  
                </p>
            </div>
            <div class="col-xs-24 col-sm-8">
                <img src="~/images/meetup-event.png" class="header-image" />
            </div>

            
            
            

        </div>
    </section>    
    <hr />

    <section id="latest-news" class="section">
        <header class="section-header row">
            <h1 class="section-title col-xs-24">
                <a href="#page-header" class="no-outline">Latest News</a>
            </h1>
        </header>
        
        <div class="row">
            <div class="col-xs-24 col-sm-16">
                <p>
                    <strong>28 February, 2019</strong><br />
                    Thanks to the support from our community members, our YouTube channel now has more than 100 subscribers
                    and thus we unlock the feature on YouTube to have our own URL for our channel, i.e.<br />
                    <a href="https://youtube.com/dotnetsg" target="_blank">youtube.com/dotnetsg</a>.
                </p>

                <p>
                    <strong>20 February, 2019</strong><br />
                    We have a page for our community now on LinkedIn. Please follow us and add it to your profile if you have 
                    contributed in our community earlier.<br />
                    <a href="http://linkedin.com/company/dotnet-sg" target="_blank">linkedin.com/company/dotnet-sg</a>
                </p>
            </div>
            <div class="col-xs-24 col-sm-8">
                
            </div>
        </div>
    </section>    
    <hr />

    <section id="sponsors" class="section">
        <header class="section-header row">
            <h1 class="section-title col-xs-24">
                <a href="#page-header" class="no-outline">Sponsors</a>
            </h1>
        </header>
        
        <div class="row">
            <div class="col-xs-24 col-sm-24">
                <p>
                    Special thanks to our generous sponsors.
                </p>

                <p>
                    <img src="~/images/sponsors/ms-logo.png" style="width: 200px; margin-right: 10px;" />
                    <img src="~/images/sponsors/dotnetfoundation-logo.png" style="width: 200px; margin-right: 10px;" />
                    <img src="~/images/sponsors/block71-logo.png" style="width: 200px; margin-right: 10px;" />
                    <img src="~/images/sponsors/aspose-logo.png" style="width: 200px; margin-right: 10px;" />
                </p>
            </div>
        </div>
    </section>    
    <hr />
</div>
